header {
    background: linear-gradient( to bottom right, darkblue, blue, pink);
    border: solid;
    padding-left: 30px;

}
.namestore {
    color: white;
    margin-top: auto;
    padding: 20px;
}
.nav {
    color: white;
    display: inline;
    position: relative;
    padding-left: 20px;
}
body {
    margin: auto;
}
a {
    display: block;
    width: 100%;
    text-decoration: none;
}
.phone {
    text-align: center;
    border-color: black;
    border-radius: 60px;
    border: solid;
    width: 300px;
    margin: 30px;
    background: linear-gradient( to bottom right, lightblue, blue, pink);
    display: inline-block;
}
footer {
    background: linear-gradient(lightgrey, wheat);
    border: solid;
    padding-left: 50px;
}
button {
    background: linear-gradient(to right bottom,pink, lightgrey);
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 25px;
    margin-bottom: 20px;
}
.contacts {
    text-decoration: none;
}
.samsung {
    padding-top: 10px;
}
.xiaomi1 {
    padding-top: 10px;
}
.iphone1 {
    padding-top: 10px;
}